@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-Thin.ttf");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: 'Onest';
  src: url("./fonts/Onest-Black.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: fallback;
}