@use "@/shared/styles/vars" as vars;

* {
  font-family: 'Onest', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

body.white {
  background-color: vars.$white;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: vars.rem(1240);
  margin: 0 auto;
}

.underline {
  text-decoration: underline;
}