NEXT_PUBLIC_API_URL=http://localhost:8055
NEXT_PUBLIC_API_PORT=8055
NEXT_PUBLIC_API_PROTOCOL=http
NEXT_PUBLIC_API_HOSTNAME=localhost:8055
# Yandex
NEXT_PUBLIC_YANDEX_VERIFICATION=
NEXT_PUBLIC_YANDEX_METRIKA_ID=
