@use '@/shared/styles/vars' as vars;

.navigationBlock {

  .navigationNextEl {
    width: vars.rem(25);
    height: vars.rem(25);
    position: absolute;
    right: 6.5%;
    top: calc(50% - 12.5px);
    z-index: 1;
    cursor: pointer;

    @media (max-width: vars.$max-1000) {
      > svg {
        > path {
          stroke: rgba(vars.$white, 0.4);
        }
      }
    }
  }

  .navigationPrevEl {
    width: vars.rem(25);
    height: vars.rem(25);
    position: absolute;
    left: 6.5%;
    top: calc(50% - 12.5px);
    z-index: 1;
    cursor: pointer;

    @media (max-width: vars.$max-1000) {
      > svg {
        > path {
          stroke: rgba(vars.$white, 0.4);
        }
      }
    }
  }
}

.navigationMobileBlock {
  position: absolute;
  bottom: vars.rem(24);
  padding: 0 vars.rem(16) 0 vars.rem(16);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: vars.rem(16);

  .navigationPrevEl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: vars.rem(72);
    height: vars.rem(72);
    background-color: vars.$dark-gray;
    cursor: pointer;
    border: none;
    border-radius: vars.rem(26);
  }
}