@use '@/shared/styles/vars' as vars;

.navigationBlock {

  .navigationNextEl {
    width: vars.rem(25);
    height: vars.rem(25);
    position: absolute;
    right: 6.5%;
    top: calc(50% - 12.5px);
    z-index: 1;
    cursor: pointer;
  }

  .navigationPrevEl {
    width: vars.rem(25);
    height: vars.rem(25);
    position: absolute;
    left: 6.5%;
    top: calc(50% - 12.5px);
    z-index: 1;
    cursor: pointer;
  }
}