@use '@/shared/styles/vars' as vars;

.popupWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(#fff, 0.5);
  z-index: 100;
  transition: 0.3s;

  &_hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: vars.rem(36) vars.rem(40);
  background-color: vars.$white;
  border-radius: vars.rem(40);
  width: vars.rem(480);

  .chooseBlock {
    display: flex;
    justify-content: space-between;
    gap: vars.rem(28);

    .choseItem {
      background-color: vars.$light-gray;
      padding: vars.rem(16);
      border-radius: vars.rem(16);
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: vars.$gray;
      }
    }
  }

  .inputsBlock {
    display: flex;
    flex-direction: column;
    gap: vars.rem(20);
    width: 100%;
    margin-bottom: vars.rem(28);
  }

  .submitBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: vars.rem(16);

    .politicsSpan {
      font-size: vars.rem(12);
      font-weight: 400;
      color: vars.$gray;

      .link {
        color: vars.$gray;
        text-decoration: underline;
      }
    }
  }
}