@use '@/shared/styles/vars' as vars;

.popupWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(#fff, 0.5);
	z-index: 100;
	transition: 0s;

	&_hidden {
		opacity: 0;
		visibility: hidden;
	}

	@media (max-width: vars.$max-1000) {
		background-color: transparent;
	}
}

.popupContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: vars.rem(36) vars.rem(40);
	background-color: vars.$white;
	border-radius: vars.rem(40);
	width: vars.rem(480);
	box-shadow: vars.rem(3) vars.rem(10) vars.rem(22) 0 vars.$shadow;
	//bottom: vars.rem(-665);
	transform: translateY(vars.rem(0));

	&_hidden {
	}

	.mobileDragBlock {
		display: none;
	}

	.chooseWrapper {
		width: 100%;
		margin-bottom: vars.rem(28);
	}

	.chooseBlock {
		display: flex;
		justify-content: space-between;
		gap: vars.rem(12);
		width: 100%;
	}

	.claimTypeOption {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: vars.rem(12);
		min-width: vars.rem(170);
		width: 100%;
		min-height: vars.rem(74);
		padding: vars.rem(16);
		border-radius: vars.rem(16);
		background-color: vars.$light-gray;
		cursor: pointer;
		user-select: none;
		transition: background-color 0.2s;

		&:hover {
			background-color: vars.$gray;

			.claimTypeCaption {
				color: vars.$light-gray;
			}

			.claimTypeIcon {
				border-color: vars.$light-gray;
			}
		}
	}

	.claimTypeOption_checked {
		.claimTypeIcon {
			border-color: vars.$green;
			background-color: vars.$green;
		}
	}

	.claimTypeCaption {
		font-size: vars.rem(16);
		font-weight: 400;
		color: vars.$black;
		transition: color 0.2s;
	}

	.claimTypeInput {
		position: absolute;
		opacity: 0;
		visibility: hidden;
	}

	.claimTypeIcon {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: vars.rem(20);
		height: vars.rem(20);
		border: vars.rem(2) solid vars.$gray;
		border-radius: 50%;
		transition: 0.2s;
	}

	.claimTypeError {
		display: block;
		margin-top: vars.rem(8);
		font-size: vars.rem(12);
		color: vars.$red;
	}

	.inputsBlock {
		display: flex;
		flex-direction: column;
		gap: vars.rem(20);
		width: 100%;
		margin-bottom: vars.rem(28);
	}

	.submitBlock {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		gap: vars.rem(16);

		.politicsSpan {
			font-size: vars.rem(12);
			font-weight: 300;
			color: rgba(vars.$gray, 0.5);

			.link {
				text-decoration: underline;
				font-weight: 300;
				color: rgba(vars.$gray, 0.5);
				transition: 0.3s;

				&:hover {
					color: rgba(vars.$gray, 1);
				}
			}
		}
	}

	@media (max-width: vars.$max-1000) {
		//@keyframes slideHideContent {
		//  0% {
		//    bottom: -1vh;
		//  }
		//  100% {
		//    bottom: -70vh;
		//  }
		//}

		position: fixed;

		padding-top: vars.rem(16);
		padding-bottom: vars.rem(50);
		width: 100vw;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		transition: bottom 0.2s ease;
		z-index: 5;

		&_hidden {
			//transition: bottom 0.2s ease-in-out;
			//bottom: -90vh;
			//opacity: 0;
			//visibility: hidden;
		}

		.mobileDragBlock {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			border-top-right-radius: vars.rem(40);
			border-top-left-radius: vars.rem(40);
			height: vars.rem(20);
			margin-bottom: vars.rem(16);

			&:before {
				content: '';
				//position: absolute;
				width: vars.rem(36);
				height: vars.rem(2);
				background-color: vars.$gray;
				border-radius: vars.rem(10);
			}
		}
	}
}
