@use '@/shared/styles/vars' as vars;

.inputLabel {
  display: flex;
  flex-direction: column;
  gap: vars.rem(8);
  color: vars.$gray;
  font-weight: 600;
  text-align: start;

  .textInput {
    font-weight: 400;
    background-color: vars.$light-gray;
    padding: vars.rem(8);
    border-radius: vars.rem(10);
    border: none;
    outline: none;
    color: vars.$gray;

    &::placeholder {
      font-weight: 400;
      color: rgba(vars.$gray, 0.3);
    }
  }
}