@use '@/shared/styles/vars' as vars;

.inputLabel {
  display: flex;
  flex-direction: column;
  gap: vars.rem(8);
  color: vars.$gray;
  font-weight: 600;
  text-align: start;
  transition: color 0.2s;

  &:hover {
    color: rgba(vars.$gray, 0.5);
  }

  &_active {
    color: vars.$green;

    &:hover {
      color: rgba(vars.$green, 0.5);
    }
  }

  .textInput {
    font-size: vars.rem(16);
    font-weight: 600;
    background-color: vars.$light-gray;
    padding: vars.rem(8);
    border-radius: vars.rem(10);
    border: none;
    outline: none;
    color: vars.$black;

    &::placeholder {
      font-weight: 400;
      color: rgba(vars.$gray, 0.3);
    }
  }
}