@use '@/shared/styles/vars' as vars;

.hide {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: none;
}

.mobileHeader {
  position: fixed;
  top: vars.rem(0);
  width: 100vw;
  min-height: vars.rem(80);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
  padding: vars.rem(10) vars.rem(25);
  transition: background-color 0.2s ease-in-out;

  &_white {
    background-color: vars.$white;
  }

  &_transparent {
    background-color: transparent;
  }

  @keyframes widthFull {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  .searchBlock {
    display: flex;
    position: relative;
    align-items: center;
    gap: vars.rem(8);
    //left: vars.rem(-310);

    &_active {
      animation: widthFull 1s forwards;
    }

    @keyframes slideShow {
      0% {
        //margin-left: vars.rem(-310);
        width: 0;
        opacity: 0;
        visibility: hidden;
      }
      100% {
        //margin-left: 0;
        opacity: 1;
        visibility: visible;
        width: 100%;
      }
    }

    .inputSearchBlock {
      display: flex;
      gap: vars.rem(8);
      align-items: center;
      //display: none;
      width: 0;
      opacity: 0;
      visibility: hidden;

      .backButton {
        display: flex;
        align-items: center;
        justify-content: center;
        width: vars.rem(40);
        height: vars.rem(40);
        cursor: pointer;
      }

      .searchInput {
        width: 100%;

        //&_active {
        //  width: 100%;
        //}
      }

      &_active {
        animation: slideShow 1s forwards;
      }
    }

    .searchButton {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: vars.rem(40);
      height: vars.rem(40);
      transition: 0.2s;

      &:hover {
        > svg {
          > path {
            stroke: vars.$gray;
          }
        }
      }

      &_active {
        > svg {
          > path {
            stroke: vars.$green;
          }
        }

        &:hover {
          > svg {
            > path {
              stroke: vars.$light-green;
            }
          }
        }
      }

      > svg {
        width: vars.rem(25);
        height: vars.rem(25);

        > path {
          transition: 0.2s;
        }
      }
    }
  }

  .logoBlock {
    width: vars.rem(60);
    height: vars.rem(60);

    > svg {
      width: 100%;
      height: 100%
    }

    @media (max-width: vars.$max-600) {
      width: vars.rem(40);
      height: vars.rem(40);
    }
  }

  .navBlock {
    .navButton {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      width: vars.rem(40);
      height: vars.rem(40);

      &_active {
        > svg {
          .top {
            transform: translateX(vars.rem(5)) translateY(vars.rem(17)) rotate(-45deg);
          }

          .middle {
            opacity: 0;
          }

          .bottom {
            transform: translateX(vars.rem(18)) translateY(vars.rem(-10)) rotate(45deg);
          }
        }
      }

      > svg {
        .top {transition: 0.2s}
        .middle {transition: 0.2s}
        .bottom {transition: 0.2s}
      }
    }
  }
}

.navModal {
  position: fixed;
  left: 0;
  bottom: 0;
  top: vars.rem(80);
  padding: vars.rem(28) vars.rem(19);
  width: 100vw;
  max-height: calc(100vh - 80px);
  overflow-y: visible;
  background-color: vars.$white;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
  z-index: 5;

  &_active {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes showEl {
  0% {
    display: flex;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  gap: vars.rem(8);

  .navLiEl {
    display: flex;
    flex-direction: column;
    gap: vars.rem(8);
    min-height: vars.rem(43);
    max-height: vars.rem(43);
    border-bottom: vars.rem(1) solid rgba(vars.$gray, 0.2);

    &_active {
      max-height: 100vh;
      padding-bottom: vars.rem(20);

      .subNavList {
        position: relative;
        //animation: showEl 1s forwards ease-in-out;
        opacity: 1;
        visibility: visible;
        max-height: 100vh;
      }

      .navItem {
        color: vars.$green !important;
      }

      .navItemButton {
        > svg {
          transition: 0.2s;
          transform: rotate(180deg);

          > path {
            transition: 0.2s;
            stroke: vars.$green;
          }
        }
      }
    }
  }

  .navItemBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .navItem {
      display: block;
      font-size: vars.rem(31);
      font-weight: 500;
      color: vars.$dark-gray;
      transition: 0.2s;
    }

    .navItemButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: vars.rem(40);
      height: vars.rem(40);
    }
  }

  .subNavList {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: vars.rem(8);
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.4s ease-out;

    .subNavItem {
      display: block;
      font-size: vars.rem(19);
      font-weight: 400;
      color: vars.$dark-gray;
    }
  }
}

.personAccBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: vars.rem(15) vars.rem(16) vars.rem(35) vars.rem(16);
  border: vars.rem(1) solid vars.$light-gray;
  border-top-left-radius: vars.rem(30);
  border-top-right-radius: vars.rem(30);

  .personAccSpan {
    font-size: vars.rem(19);
    font-weight: 600;
    line-height: 140%;
  }

  .personAccButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: vars.rem(52);
    height: vars.rem(52);
    border-radius: vars.rem(16);
    box-shadow: vars.rem(1) vars.rem(2) vars.rem(2) 0 rgba(vars.$light-shadow, 0.1);
  }
}