@use '@/shared/styles/vars' as vars;

.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.visible {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.wrapper {
  @media (max-width: vars.$max-1000) {
    padding: 0 vars.rem(16);
  }
}

.contactsBlock {
  display: flex;
  justify-content: space-between;
  gap: vars.rem(20);
  padding: vars.rem(68) 0;

  @media (max-width: vars.$max-1300) {
    padding: vars.rem(68) vars.rem(16);
  }

  @media (max-width: vars.$max-1000) {
    background-color: vars.$green;
    padding: vars.rem(32) vars.rem(16);
    border-radius: vars.rem(20);
  }

  @media (max-width: vars.$max-800) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .captionSide {
    display: flex;
    flex-direction: column;

    .questionSpan {
      font-size: vars.rem(19);
      font-weight: 500;
      color: vars.$gray;

      @media (max-width: vars.$max-1000) {
        color: vars.$light-gray;
      }
    }

    .title {
      @media (max-width: vars.$max-1000) {
        color: vars.$white !important;
      }
    }
  }

  .contactsSide {
    display: flex;
    align-items: center;
    gap: vars.rem(24);

    @media (max-width: vars.$max-800) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
    }

    .contact {
      position: relative;
      display: flex;
      align-items: center;
      background-color: vars.$light-gray;
      border-radius: vars.rem(40);
      padding: vars.rem(8) vars.rem(17) vars.rem(8) vars.rem(8);
      user-select: none;
      cursor: pointer;
      gap: vars.rem(12);
      height: vars.rem(60);
      transition: 0.2s;

      @media (max-width: vars.$max-800) {
        width: 100%;
        justify-content: center;
      }

      &:hover {
        background-color: vars.$gray;

        .contactPreview {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }

        .contactPostview {
          opacity: 1;
          visibility: visible;
          position: relative;

          .caption {
            color: vars.$light-gray;
          }

          .contactIcon > svg > path {
            transition: 0.2s;
            fill: vars.$light-gray;
          }
        }
      }

      .contactImage {
        @media (max-width: vars.$max-800) {
          position: absolute;
          left: vars.rem(8);
        }
      }

      .contactPreview {
        display: flex;
        align-items: center;
        gap: vars.rem(12);
        font-weight: 400;

        @media (max-width: vars.$max-800) {
          width: 100%;
          margin-left: vars.rem(50);
          justify-content: space-between;
        }
      }

      .contactPostview {
        display: flex;
        align-items: center;
        gap: vars.rem(12);
        font-weight: 400;

        @media (max-width: vars.$max-800) {
          width: 100%;
          margin-left: vars.rem(50);
          justify-content: space-between;
        }
      }

      .caption {
        font-size: vars.rem(19);
        font-weight: 500;
        color: vars.$gray;

        @media (max-width: vars.$max-800) {
          color: vars.$black;
        }
      }

      .contactIcon {

      }
    }
  }
}