@import "@/shared/styles/vars";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: rem(1240);
  padding: rem(5) rem(50);
  background: rgba($white, 0.5);
  border-radius: rem(60);
  top: rem(20);
  z-index: 5;
  backdrop-filter: blur(rem(7));
}

.navSide {
  display: flex;
  align-items: center;
  gap: rem(40);
  font-weight: 600;

  .logoBlock {
    width: 60px;
  }

  .navList {
    display: flex;
    gap: rem(40);

    .navItem {
      transition: 0.2s;

      &:hover {
        color: $green;
        text-decoration: underline;
      }
    }
  }
}

.searchSide {
  display: flex;
  align-items: center;
  gap: rem(30);

  .searchButton {
    cursor: pointer;

    &:hover {

      svg > path {
        transition: 0.2s;
        stroke: $gray;
      }
    }
  }

  .callButton {

    &:hover {


      svg > path {
        transition: 0.2s;
        fill: $dark-gray;
      }
    }
  }

  .orderButton {
    padding: rem(16) rem(28);
    cursor: pointer;
    background-color: $green;
    color: $white;
    border-radius: rem(40);
    border: none;
    font-weight: 600;
    transition: 0.2s;

    &:hover {

      background-color: $light-green;
    }
  }
}