@use "@/shared/styles/vars" as vars;

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: vars.rem(1240);
  padding: vars.rem(5) vars.rem(50);
  background: rgba(vars.$white, 0.5);
  border-radius: vars.rem(60);
  top: vars.rem(20);
  z-index: 5;
  backdrop-filter: blur(vars.rem(7));
}

.navSide {
  display: flex;
  align-items: center;
  gap: vars.rem(40);
  font-weight: 600;

  .logoBlock {
    width: 60px;
  }

  .navList {
    display: flex;
    gap: vars.rem(40);

    .navItem {
      transition: 0.2s;

      &:hover {
        color: vars.$green;
        text-decoration: underline;
      }
    }
  }
}

.searchSide {
  display: flex;
  align-items: center;
  gap: vars.rem(30);

  .searchButton {
    cursor: pointer;

    &:hover {

      svg > path {
        transition: 0.2s;
        stroke: vars.$gray;
      }
    }
  }

  .callButton {

    &:hover {


      svg > path {
        transition: 0.2s;
        fill: vars.$dark-gray;
      }
    }
  }
}