@use "@/shared/styles/vars" as vars;

@keyframes swapTextStyle {
  0% {
    color: vars.$gray;
    text-decoration: none;
  }
  25% {
    color: vars.$dark-gray;
    text-decoration: underline;
  }
  75% {
    color: vars.$dark-gray;
    text-decoration: underline;
  }
  100% {
    color: vars.$gray;
    text-decoration: none;
  }
}

@keyframes swapIconStyle {
  0% {
    fill: vars.$gray;
  }
  25% {
    fill: vars.$dark-gray;
  }
  75% {
    fill: vars.$dark-gray;
  }
  100% {
    fill: vars.$gray;
  }
}

@keyframes noticeAnim {
  0% {
    right: -30%;
  }
  20% {
    right: 2%;
  }
  80% {
    right: 2%;
  }
  100% {
    right: -30%;
  }
}

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: vars.rem(1344);
  padding: vars.rem(5) vars.rem(50);
  background: rgba(vars.$white, 0.5);
  border-radius: vars.rem(60);
  top: vars.rem(20);
  z-index: 5;
  backdrop-filter: blur(vars.rem(7));

  .notice {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: vars.rem(-16);
    right: -30%;
    background-color: vars.$gray;
    height: vars.rem(32);
    padding: vars.rem(10) vars.rem(20);
    border-radius: vars.rem(40);
    color: vars.$white;
    font-weight: 600;
    font-size: vars.rem(10);

    &_animate {
      animation: noticeAnim 2s ease-in-out;
    }
  }
}

.navSide {
  display: flex;
  align-items: center;
  gap: vars.rem(40);
  font-weight: 600;
  margin-right: vars.rem(-100);

  .logoBlock {
    width: 60px;
  }

  .navList {
    display: flex;
    gap: vars.rem(40);
    width: fit-content;

    > li {
      display: flex;
      gap: vars.rem(40);
    }

    .navItem {
      color: vars.$black;
      transition: 0.3s;

      &_inactive {
        color: vars.$gray;
      }

      &_hidden {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        display: none;
      }

      &:hover {
        color: vars.$green;
        text-decoration: underline;
      }
    }

    .navLiEl {
      opacity: 1;
      visibility: visible;
      position: relative;
      transition: 0.3s;

      &_hidden {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        transition: 0.3s;
        display: none;
      }
    }

    .subNavList {
      display: flex;
      gap: vars.rem(40);
      opacity: 0;
      visibility: hidden;
      position: absolute;

      &_visible {
        opacity: 1;
        visibility: visible;
        position: relative;
        transition: 0.3s;
      }
    }
  }
}

.searchSide {
  display: flex;
  align-items: center;
  gap: vars.rem(30);

  .searchButton {
    cursor: pointer;

    &:hover {

      svg > path {
        transition: 0.2s;
        stroke: vars.$gray;
      }
    }
  }

  .orderButton {

    &_hide {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      display: none;
    }
  }

  .callButton {
    display: flex;
    align-items: center;
    gap: vars.rem(8);
    cursor: pointer;
    overflow-x: hidden;
    user-select: none;

    &.animate {
      .caption {
        animation: swapTextStyle 2s ease-in-out;
      }

      svg > path {
        animation: swapIconStyle 2s ease-in-out;
      }
    }

    //&:active, &:focus {
    //  .caption {
    //    animation: swapTextStyle 1s ease-in-out;
    //  }
    //
    //  svg > path {
    //    animation: swapIconStyle 1s ease-in-out;
    //  }
    //}

    &:hover {

      .caption {
        margin-right: vars.em(0);
      }

      svg > path {
        transition: 0.3s;
      }
    }

    .caption {
      transition: 0.3s ease;
      color: vars.$gray;
      font-weight: 600;
      font-size: vars.rem(16);
      margin-right: vars.em(-160);
    }
  }
}