@use '@/shared/styles/vars' as vars;

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: vars.rem(20);
  padding: vars.rem(80) 0;
  flex-wrap: wrap;
}

.advantageItem {
  display: flex;
  align-items: center;
  gap: vars.rem(16);
  max-width: vars.rem(295);

  .advantageImage {
    min-width: vars.rem(72);
    height: vars.rem(72);
  }

  .advantageText {
    font-size: vars.rem(19);
    line-height: 120%;
  }
}