@use '@/shared/styles/vars' as vars;

.selectWrapper {
  display: inline-block;
  position: relative;
  //height: vars.rem(47);

  //.selectListWrapper {
  //  opacity: 0;
  //  visibility: hidden;
  //}

  &_inactive {

    .selectListWrapper {
      transition: 0.3s;
      opacity: 0;
      visibility: hidden;
    }
  }

  &_active {
    .select {
      .caption {
        transition: 0.3s;
        color: vars.$green;
        overflow: hidden;
        white-space: nowrap;
      }

      .arrow {
        height: 100%;

        > svg {
          transition: 0.3s;
          transform: rotate(180deg);

          > path {
            transition: 0.3s;
            stroke: vars.$green;
          }
        }
      }
    }

    .selectListWrapper {
      transition: 0.3s;
      opacity: 1;
      visibility: visible;
    }
  }

  .selectListWrapper {
    position: absolute;
    padding: vars.rem(12) vars.rem(20);
    background-color: vars.$light-gray;
    border-radius: vars.rem(20);
    margin-top: vars.rem(8);
    z-index: 5;

    .selectList {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: vars.rem(12);
      width: 100%;

      .selectOption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: vars.rem(10);
        width: 100%;
        cursor: pointer;
        transition: 0.3s;

        //padding: vars.rem(5);

        //&:hover {
        //  background-color: vars.$green;
        //  color: vars.$white;
        //}

        .checkIcon {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: vars.rem(28);
          width: vars.rem(28);
          height: vars.rem(28);
          border-radius: 50%;
          border: vars.rem(2.1) solid vars.$gray;
          background-color: transparent;
          transition: 0.3s;

          &_active {
            background-color: vars.$green;
            border: none;
          }
        }

        .optionCaption {
          font-size: vars.rem(19);
          font-weight: 300;
          text-align: right;
          white-space: nowrap;
        }
      }
    }
  }
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: vars.$light-gray;
  border-radius: vars.rem(20);
  border: none;
  cursor: pointer;
  padding: vars.rem(12) vars.rem(20);
  appearance: none;
  transition: 0.3s;

  &_active {
    .caption {
      color: vars.$green;
    }

    .arrow {
      transition: 0.3s;

      > svg {
        > path {
          transition: 0.3s;
          stroke: vars.$green;
        }
      }
    }
  }

  .caption {
    font-size: vars.rem(19);
    font-weight: 400;
    transition: 0.3s;
    overflow: hidden;
    white-space: nowrap;
  }

  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: vars.rem(20);
    cursor: pointer;
    height: 100%;
    background-color: vars.$light-gray;
    padding-left: vars.rem(10);

    > svg {
      transition: 0.3s;
      transform: rotate(0deg);
    }
  }

  .option {
    cursor: pointer;
  }
}