@use '@/shared/styles/vars' as vars;

.transfer {
  display: none;

  @media (max-width: vars.$max-800) {
    display: block;
  }
}

.contacts {
  margin-top: vars.rem(50);
  margin-bottom: vars.rem(50);

  @media (max-width: vars.$max-1250) {
    padding: 0 vars.rem(16);
  }

  @media (max-width: vars.$max-800) {
    margin-top: 0;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: vars.rem(20);

    @media (max-width: vars.$max-1000) {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .mapBlock {
      display: flex;
      flex-direction: column;

      .title {
        margin-bottom: vars.rem(28);

        @media (max-width: vars.$max-1000) {
          text-align: center;
          border-bottom: vars.rem(2) solid #DEDEDE;
          padding-bottom: vars.rem(16);
          margin: 0;
        }
      }

      .map {
        height: 100%;

        > div {
          height: 100%;
        }

        iframe {
          width: 100%;
          height: 100%;
          border: none;
        }

        @media (max-width: vars.$max-1000) {
          display: none;
        }
      }
    }

    .tableBlock {

      .contactsTable {
        width: 100%;

        .tableRow {
          border-bottom: vars.rem(2) solid #DEDEDE;
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: vars.rem(10);
          padding: vars.rem(24) vars.rem(0) vars.rem(12) vars.rem(0);

          @media (max-width: vars.$max-800) {
            &:nth-last-child(n+3) {
              border-bottom: vars.rem(2) solid #DEDEDE;
            }
          }

          @media (max-width: vars.$max-800) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: vars.rem(16) 0;
            gap: vars.rem(4);
            border: none;
          }
        }

        .tableRowOneCol {
          display: grid;
          grid-template-columns: 1fr;
          gap: vars.rem(20);
          padding: vars.rem(5) 0;
        }

        .tableTextContent {
          text-align: right;

          @media (max-width: vars.$max-800) {
            text-align: left;
          }
        }

        .tableTextNote {
          font-size: vars.rem(19);
          font-weight: 400;
        }

        .tableSubTitle {
          font-size: vars.rem(19);
          font-weight: 500;
          color: vars.$gray;
        }

        .tableMainText {
          font-size: vars.rem(19);
          font-weight: 300;
          color: vars.$black;
        }

        .tableSubText {
          font-size: vars.rem(16);
          font-weight: 300;
          color: vars.$gray;
          //margin-top: vars.rem(8);
        }

        .phoneRow {
          //height: vars.rem(70);
          grid-template-columns: 0 1fr;
          text-align: right;
          padding-bottom: vars.rem(35);
          padding-top: vars.rem(12);

          @media (max-width: vars.$max-1000) {
            align-items: center;
          }

          @media (max-width: vars.$max-800) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: vars.rem(16) 0;
            gap: vars.rem(4);
          }

          .tableSubTitle {
            display: none;

            @media (max-width: vars.$max-1000) {
              display: flex;
            }
          }

          .phone {
            font-size: vars.rem(31);
            font-weight: 500;
            text-align: right;
            vertical-align: center;

            @media (max-width: vars.$max-800) {
              font-size: vars.rem(19);
              font-weight: 300;
            }
          }
        }

        .mapRow {
          display: none;
          height: vars.rem(455);

          @media (max-width: vars.$max-1000) {
            display: flex;
            border: none;
          }

          .mapCol {
            width: 100%;

            > div {
              height: 100%;
            }

            iframe {
              width: 100%;
              height: 100%;
              border: none;
              border-radius: vars.rem(20);
            }
          }
        }

        .titleRow {
          display: none;

          @media (max-width: vars.$max-800) {
            display: flex;
          }

          .titleCol {
            width: 100%;
            text-align: center;
          }
        }

        .metroBlock {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: vars.rem(5);
          margin-top: vars.rem(8);

          @media (max-width: vars.$max-800) {
            justify-content: flex-start;
            margin-top: vars.rem(4);
          }
        }

        .tableNote {


          @media (max-width: vars.$max-800) {
            display: none;
          }
        }
      }
    }
  }
}