@use '@/shared/styles/vars' as vars;

@keyframes showEl {
  0% {
    //top: 0;
    //bottom: 0;
    opacity: 1;
    visibility: visible;
  }
  100% {
    //top: vars.rem(100);
    //bottom: vars.rem(100);
    background-color: vars.$white;
  }
}

.searchWrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s;

  &_hidden {
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
  }

  .searchInnerWrapper {
    animation: showEl 0.5s ease-in-out forwards;
  }
}

.searchInnerWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //background-color: vars.$black;
  transition: opacity 0.2s;

  .closeBtn {
    position: absolute;
    top: vars.rem(52);
    right: vars.rem(100);
    cursor: pointer;
  }
}

.searchContent {
  position: absolute;
  right: 0;
  left: 0;
  top: vars.rem(0);
  bottom: vars.rem(0);
  display: flex;
  align-items: center;
  gap: vars.rem(10);
  background-color: vars.$white;
  padding: 0 vars.rem(100);
  transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out;

  //&_animated {
  //  //top: vars.rem(100);
  //  //bottom: vars.rem(100);
  //  animation: showEl 0.3s ease-in-out forwards;
  //}

  .inputSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    &_filled {


      &:hover {

        .labelSpan {
          color: rgba(vars.$green, 0.5);
        }
      }
    }

    .labelSpan {
      font-size: vars.rem(19);
      margin-bottom: vars.rem(5);
      padding-left: vars.rem(16);
      font-weight: 600;
      cursor: default;

      &_filled {
        color: vars.$green;
        transition: 0.2s;
      }
    }

    .inputLabel {
      display: flex;
      gap: vars.rem(20);
      width: 100%;

      .textInput {
        outline: none;
        border: none;
        font-size: vars.rem(50);
        font-weight: 600;
        padding: 0 vars.rem(16);
        background-color: transparent;
        color: vars.$dark-gray;
        width: 100%;

        &::placeholder {
          font-size: vars.rem(50);
          color: vars.$light-gray;
          font-weight: 600;
        }
      }

      .searchButton {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: vars.$green;
        padding: vars.rem(16) vars.rem(16);
        cursor: pointer;
        transition: 0.2s;

        &:hover {
          background-color: vars.$light-green;
        }
      }
    }

    .subSpan {
      font-size: vars.rem(19);
      font-weight: 600;
      color: rgba(vars.$dark-gray, 0.1);
      margin-top: vars.rem(32);
      padding-left: vars.rem(16);
      cursor: default;
    }
  }
}