@use '@/shared/styles/vars' as vars;

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(vars.$black, .8);
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 10;
  padding: 2% 2%;

  &_visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s;
  }

  &_hidden {
    opacity: 0;
    visibility: hidden;
    transition: .2s;
  }
}

.popupContainer {
  position: relative;
  background-color: vars.$white;
  border-radius: vars.rem(20);
  max-width: 100%;
  max-height: 100%;
  height: inherit;
  width: auto;

  .closeBlock {
    position: absolute;
    top: vars.rem(25);
    right: vars.rem(25);
    z-index: 11;
    cursor: pointer;
  }

  > img {
    position: relative !important;
    border-radius: vars.rem(20);
    height: 100%;
    width: fit-content;
    object-fit: cover;
    margin-bottom: vars.rem(-5);
  }
}