@use '@/shared/styles/vars' as vars;

.textareaLabel {
  display: flex;
  flex-direction: column;
  gap: vars.rem(8);
  font-size: vars.rem(16);
  font-weight: 600;
  color: vars.$gray;
  text-align: start;
  transition: color 0.2s;

  &_active {
    color: vars.$green;
  }

  .textarea {
    font-size: vars.rem(16);
    font-weight: 600;
    color: vars.$black;
    border: none;
    border-radius: vars.rem(10);
    padding: vars.rem(8);
    outline: none;
    background-color: vars.$light-gray;

    &::placeholder {
      font-size: vars.rem(16);
      font-weight: 400;
      color: rgba(vars.$gray, 0.3);
    }
  }
}