@use '@/shared/styles/vars' as vars;

.popupContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: vars.rem(36) vars.rem(40);
  background-color: vars.$white;
  border-radius: vars.rem(40);
  width: vars.rem(480);
  box-shadow: vars.rem(3) vars.rem(10) vars.rem(22) 0 vars.$shadow;

  &_hidden {}

  .mobileDragBlock {
    display: none;
  }

  @media (max-width: vars.$max-1000) {

    position: fixed;
    transform: translateY(vars.rem(0));
    padding-top: vars.rem(16);
    padding-bottom: vars.rem(50);
    width: 100vw;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: bottom 0.2s ease;
    z-index: 10;
    left: 0;
    //bottom: -100%;

    &_hidden {
    }

    .mobileDragBlock {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      border-top-right-radius: vars.rem(40);
      border-top-left-radius: vars.rem(40);
      height: vars.rem(20);
      margin-bottom: vars.rem(16);

      &:before {
        content: '';
        //position: absolute;
        width: vars.rem(36);
        height: vars.rem(2);
        background-color: vars.$gray;
        border-radius: vars.rem(10);
      }
    }
  }
}